@model IEnumerable<TaskPlanner.Models.Task>

@{
    ViewBag.Title = "Index";
}
<!DOCTYPE html>

<html lang="ru">
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
    <link rel="stylesheet" href="~/Content/bootstrap.min.css" />
</head>
<body>
    @*<div class="container-fluid">
            <div class="row">
                <div style="text-align:center" class="col">
                    <h2>Планировщик задач</h2>
                </div>
            </div>
        </div>*@

    <div class="container-fluid">
        <div class="row">
            <div class="col-md-6">
                <h3 style="text-align:center">Новые задачи</h3>
            </div>
            <div class="col-md-6">
                <h3 style="text-align:center">Выполненые задачи</h3>
            </div>
        </div>
    </div>

    <div class="container-fluid">
        <div class="row">
            <div class="col-md-6">
                <table class="table table-bordered">
                    <thead>
                        <tr style="text-align: center">
                            <th scope="col" @*style="display: none"*@>id</th>
                            <th scope="col">Время</th>
                            <th scope="col">Задача</th>
                            <th scope="col" class="func"> Функции</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var b in Model)
                        {
                            <tr>
                                <td>@b.TaskId</td>
                                <td>@b.TaskTime</td>
                                <td><a asp-action="Details" asp-controller="Home" asp-route-id="@b.TaskId" title="Нажмите что бы узнать подробности">@b.TaskName</a></td>
                                <td style="text-align: center">
                                    <div>
                                        <a asp-action="Edit" asp-controller="Home" asp-route-id="@b.TaskId" title="Изменить">&#9998;</a>
                                        <a asp-action="Done" asp-controller="Home" asp-route-id="@b.TaskId" title="Выполнить">&#10004;</a>
                                        <a asp-action="Delete" asp-controller="Home" asp-route-id="@b.TaskId" title="Удалить">&#10006;</a>
                                    </div>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
            <div class="col-md-6">
                @await Html.PartialAsync("_Complete")
                @*<table class="table table-bordered">
            <thead>
                <tr style="text-align: center">
                    <th scope="col">id</th>
                    <th scope="col">Задача</th>
                    <th scope="col">Время</th>
                    <th scope="col">Тайминг</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var d in Model)
                {
                    <tr>
                        <td>@d.TaskId</td>
                        <td>@d.TaskName</td>
                        <td>@d.EndTime</td>
                        <td>@d.DifTime</td>
                    </tr>
                }
            </tbody>
        </table>*@
            </div>
        </div>
    </div>
    <div style="text-align:center">
        <a asp-action="Create">Создать задачу</a>
    </div>
    <div>
        <ul>
            <li>Выполнить пока не работает(</li>
            <li>Изменение тоже пока чет копирует новую задачу и оставляет старую</li>
        </ul>
        
    </div>
</body>
</html>
